
<div class='col-12' ng-app="myapp">
    
<style >
  .seebox1 {
            outline:dotted;
            
          }
  

</style>



<a href="#london">City 1</a>
<a href="#paris">City 2</a><br>



<div class="col-1"></div>

<!--<div class="col-10  height" id="logo" ng-style="{'background-image':'url({{image.logo}})'}">-->
<!--    <img id="logoN" ng-src="{{image.logoN}}" >-->
<!--</div>-->
<div class='col-10' ng-view></div>

<div class="col-1"></div>







<%if $admin %>


<div class='col-12 seebox removempb '>

  
      <h1 style='text-align:center;'>Departments</h1>
      <p style='text-align:center;'><%= link_to 'Make new Department', new_main_category_path%></p>
  
</div>


    <div class="row small-up-2 large-up-4">

    


 <div class="row small-up-2 medium-up-3 large-up-4">
   <% MainCategory.all.each do |category|%>
   <%if !category.template%>
            <div class="column">
              <%= link_to main_category_path(category.id) do%>
              <%pic = category.main_category_pics.first ? category.main_category_pics.first.pic_url.url : nil %>
              <%pic_escape = category.main_category_pics.first ? category.main_category_pics.first.urlseed : nil %>
              <img class="thumbnail" src="<%= category.main_category_pics.any? ? ((pic == nil) | (pic == "") ? pic_escape : pic) : "https://placehold.it/550x550"%>">
              <%end%>
              <h5><%= category.title%></h5><%= link_to "Edit-items", main_category_items_path(category.id)%>
              <%= link_to "Edit-department", edit_main_category_path(category.id) %>
            </div>
   <%end%>
   <%end%>
      
          </div>



 <hr>

    <div class="row column text-center">
      <h2>All Products</h2>
      <hr>
    </div>

    <div class="row small-up-2 large-up-4">
      
 
      
   <% Item.all.each do |item|%>
       


      <div class="column">
        <%= link_to main_category_item_path(item.main_category_id, item.id) do%>
        <div class="thumbnail vhcenterp" style="width:300px; height:400px; background-color:lightgrey; " >
          <%if item.item_pics.any?%>
          <%pic = item.item_pics.first.pic_url.url%>
          <%picseed = item.item_pics.first.urlseed%>
          <%end%>
         <img class="thumbnail vhcenters" src="<%= item.item_pics.first ? (pic == nil ? picseed : pic) : "https://placehold.it/300x400" %>" style="hieght:400px;">
        </div>
        <%end%>
        <h5><%= item.name %></h5>
        <p><%= number_to_currency(item.price)%></p>
        <%= form_for current_order.order_items.new, remote: true do |f| %>
        <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.submit "Add to Cart", class: "button expanded" %>
        <% end %>
        
      </div> 

              

       
<%end%> 
   
    </div>

   
      <hr>
      <ul class="menu">
       
         <li>
          <%= link_to root_path do%>
          <p style="color:white;">Home</p>
          <%end%>
        </li>
        <li>
          <%= link_to about_path do%>
          <p style="color:white;">About</p>
          <%end%>
        </li>
        <li>
          <%= link_to contact_path do%>
          <p style="color:white;">Contact</p>
          <%end%>
        </li>
        <li class="float-right" style="float:right;">Copyright 2016</li>
      </ul>
    


<hr>

      <h1>Templates</h1>

      <br>
      <% MainCategory.all.each do |category|%>
            <%if category.template%>
               <h3><%= link_to category.title, main_category_items_path(category.id)%></h3>
               <p><%= category.body%></p>
               <%if category.main_category_pics.first%>
                 <%pic = category.main_category_pics.first.pic_url.url%>
                 <%pic_escape = category.main_category_pics.first.urlseed%>
                  <img src="<%= (pic == nil) | (pic == "") ? pic_escape : pic%>" style='height:100px; width:100px;'>
               <%end%>
              <br><button><%= link_to "Edit This Category", edit_main_category_path(category.id) %></button>
          <%end%>
      <%end%>
      <br>
      <br>
     
      <br><br><br><br>

</div>
<%end%><%# ln 1  if 1==0 on %>


<!-- ======================================test page 1==================================================================================================== -->




<%if !$admin %>
 <!-- End Top Bar -->


<div class='col-12 seebox removempb '>

  
      <h1 style='text-align:center;'>Departments</h1>
      
  
</div>


    <div class="row small-up-2 large-up-4">

    


 <div class="row small-up-2 medium-up-3 large-up-4">
   <% MainCategory.all.each do |category|%>
   <%if !category.template%>
            <div class="column">
              <%= link_to main_category_path(category.id) do%>
              <%pic = category.main_category_pics.first.pic_url.url%>
              <%pic_escape = category.main_category_pics.first.urlseed%>
              <img class="thumbnail" src="<%= category.main_category_pics.any? ? ((pic == nil) | (pic == "") ? pic_escape : pic) : "https://placehold.it/550x550"%>">
              <%end%>
              <h5><%= category.title%></h5>
            </div>
   <%end%>
   <%end%>
      
          </div>


 <hr>

    <div class="row column text-center">
      <h2>All Products</h2>
      <hr>
    </div>

    <div class="row small-up-2 large-up-4">
      
 
      
   <% Item.all.each do |item|%>
       


      <div class="column">
        <%= link_to main_category_item_path(item.main_category_id, item.id) do%>
        <div class="thumbnail vhcenterp" style="width:300px; height:400px; background-color:lightgrey; " >
          <%if item.item_pics.any?%>
          <%pic = item.item_pics.first.pic_url.url%>
          <%picseed = item.item_pics.first.urlseed%>
          <%end%>
         <img class="thumbnail vhcenters" src="<%= item.item_pics.first ? (pic == nil ? picseed : pic) : "https://placehold.it/300x400" %>" style="hieght:400px;">
        </div>
        <%end%>
        <h5><%= item.name %></h5>
        <p><%= number_to_currency(item.price)%></p>
        <%= form_for current_order.order_items.new, remote: true do |f| %>
        <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.submit "Add to Cart", class: "button expanded" %>
        <% end %>
        
      </div> 

                <% if $admin%>
                    <br><button><%= link_to "Edit This Category", edit_main_category_path(category.id) %></button>
                <%end%>

       
<%end%> 
   
    </div>

   
      <hr>
      <ul class="menu">
       
         <li>
          <%= link_to root_path do%>
          <p style="color:white;">Home</p>
          <%end%>
        </li>
        <li>
          <%= link_to about_path do%>
          <p style="color:white;">About</p>
          <%end%>
        </li>
        <li>
          <%= link_to contact_path do%>
          <p style="color:white;">Contact</p>
          <%end%>
        </li>
        <li class="float-right" style="float:right;">Copyright 2016</li>
      </ul>
    



   
   

      
 
      

<%end%>
      
      
  
    
      
</div> <!--ngapp div line 1 -->
      
      
   <script>
var app = angular.module("myapp", ["ngRoute"]);

angular.module("myapp").config(function($locationProvider, $routeProvider) {
    $locationProvider.html5Mode(false).hashPrefix('');
    $routeProvider
    .when("/", {
        templateUrl : "main.htm",
        controller : "LandingCtrl"
    })
    .when("/london", {
        templateUrl : "london.htm",
        controller : "londonCtrl"
    })
    .when("/paris", {
        templateUrl : "paris.htm",
        controller : "parisCtrl"
    }).otherwise({ redirectTo: '/' });
});

function Image($rootScope) {
                               var Image = { 
                                            logo: "https://s3-us-west-2.amazonaws.com/pics120/migtech+store/main_categories/index/A-Many-CellPhones.jpg", 
                                            logoN: "https://s3-us-west-2.amazonaws.com/pics120/migtech+store/main_categories/index/logot.png"
                                           };
                                   
                                return Image;
                            };
function Umage($rootScope) {
                               var Umage = { 
                                         
                                           <% lastd = Item.last.id %>
                                           <% Item.all.each.with_index do |item, index|%>
                                          
                                                   <% if item.id != lastd %>
                                                       <%= "item#{index}" %>:{<% item.attributes.each do |value| %>
                                                            <%=value[0]%>:'<%="#{value[1]}"%>'<%= value[0]=="quantity" ? "" : "," %><%end%> } 
                                                       <% else %>
                                                        <%="item#{index}" %>:{<% item.attributes.each do |value| %>
                                                            <%=value[0]%>:'<%="#{value[1]}"%>'<%= value[0]=="quantity" ? "" : "," %> <%end%>
                                                        },
                                                   <% end%>
                                           <% end%>
                                           
                                           };
                                   
                                return Umage;
                            };                            
                            
function londontion($scope,Umage){$scope.msg = "I love London migs adjusted", $scope.Items = Umage; }
function paristion($scope){ $scope.msg = "I love Paris";}
function LandingCtrl($scope,Image) { $scope.image = Image ; }

app.factory('Umage', ['$rootScope',Umage]);                                    
app.factory('Image', ['$rootScope',Image]);

app.controller("londonCtrl",['$scope','Umage',londontion]);
app.controller("parisCtrl",['$scope',paristion] );
app.controller("LandingCtrl", ["$scope","Image", LandingCtrl]);
</script>
     
      
      
      
      
      
      
      
      
      
      
      