
<%@items = MainCategory.find(params[:id]).items%>
<%if @items.any?%>
<%@items.each do |item|%>
<% if item.item_pics.any?%>
<%pic = item.item_pics.first.pic_url.url%>
<%pic_seed = item.item_pics.first.urlseed%>
<%end%>
 
 <div class="row column text-center">
      <h2><%=MainCategory.find(params[:id]).title%></h2>
      <hr>
    </div>

    <div class="row small-up-2 large-up-4">
      
 
      
 
       


      <div class="column">
        <%= link_to main_category_item_path(item.main_category_id, item.id) do%>
        <div class="thumbnail vhcenterp" style="width:300px; height:400px; background-color:lightgrey; " >
          <%if item.item_pics.any?%>
          <%pic = item.item_pics.first.pic_url.url%>
          <%picseed = item.item_pics.first.urlseed%>
          <%end%>
         <img class="thumbnail vhcenters" src="<%= item.item_pics.first ? (pic == nil ? picseed : pic) : "https://placehold.it/300x400" %>" style="hieght:400px;">
        </div>
        <%end%>
        <h5><%= item.name %></h5>
        <p><%= number_to_currency(item.price)%></p>
        <%= form_for current_order.order_items.new, remote: true do |f| %>
        <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.submit "Add to Cart", class: "button expanded" %>
        <% end %>
        
      </div> 

              

       

   
    </div>



<div class="col-12" style="height:100px;"></div>
<hr>

<%end%>
<%else%>

<div class="col-12 vhcenterp seebox"  style="height:400px;">
    <div class="col-10 vhcenters seebox"><h1 class="center">We are Sorry :( But this category has no items yet.</h1>
      </div>
</div>

<%end%>

























